@import "./variables";
@import "./fonts";
@import "~bootstrap/scss/bootstrap";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(76, 75, 75);
}
